<h2> {{__ "home.title"}} </h2>
<p> {{__ "home.subtitle"}} </p>
<p> {{__ "home.text"}} </p>
<a href="/services/change-lang/es">{{__ "change.lang.es" }}</a>
<a href="/services/change-lang/en">{{__ "change.lang.en" }}</a>